$primary-bg-color: #ddd;
$primary-color: #444;
$secondary-color: #aaa;
$accent-color: #0088a3;

$base-font-size: 16px;
$primary-font-family: 'Alegreya Sans', sans-serif;
$primary-font-weight-light: 300;
$primary-font-weight-normal: 400;
$primary-font-weight-bold: 600;

$breakpoint-small: 624px;
$breakpoint-medium: 896px;
$breakpoint-large: 1120px;

h1, h2, h3, h4, h5, h6, p, ul, ol { margin: 0; padding: 0; }

body {
  font-size: $base-font-size;
  background: $primary-bg-color;
  color: $primary-color;
  font-family: $primary-font-family;
  height: 100vh;
  width: 90vw;
  margin: auto;

  display: grid;
  grid-template-rows: auto 1fr auto;
  row-gap: 1.5rem;

  a {
    color: inherit;
    transition: color .25s;
  }
}

body > header {
  a { text-decoration: none; }

  & > h1 {
    display: inline-block;
    margin: 1rem auto 1rem auto;
    font-size: 2.5rem;
    font-weight: $primary-font-weight-light;
  }

  & > h1 + span {
    display: none;

    @media screen and (min-width: $breakpoint-small) {
      display: inline-block;
      font-size: 2.5rem;
      font-weight: $primary-font-weight-light;
      color: $secondary-color;
      margin-left: .5rem;
    }
  }

  & > nav > ul {
    list-style: none;
    display: flex;

    @media screen and (max-width: $breakpoint-small) {
      flex-direction: column;
      line-height: 1.5;
    }

    @media screen and (max-width: $breakpoint-medium) {
      & > li:first-of-type { display: none; }
    }

    & > li {
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 1px;
      margin-right: 1.5rem;
      color: $primary-color;
    }
  }
}

body > footer {
  @media screen and (max-width: $breakpoint-small) {
    text-align: center;
  }
  border-top: 1px solid $secondary-color;
  color: $secondary-color;
  text-align: right;
  line-height: 1;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.gallery {
  display: grid;
  grid-gap: 2rem;
  grid: auto-flow / repeat(auto-fill, 8rem);

  & > .painting > img {
    height: 8rem;
    width: 8rem;
    box-shadow:
      0 0 0 5px whitesmoke,
      0 0 0 6px $secondary-color;
  }

  @media screen and (min-width: $breakpoint-small) {
    grid: auto-flow / repeat(auto-fill, 10rem);
    & > .painting > img {
      height: 10rem;
      width: 10rem;
    }
  }

  @media screen and (min-width: $breakpoint-large) {
    grid: auto-flow / repeat(auto-fill, 11rem);
    & > .painting > img {
      height: 11rem;
      width: 11rem;
    }
  }
}

main {
  h2 {
    font-weight: normal;
    font-size: 2rem;
    margin: 1.5rem auto;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: lighter;
  }

  p, ul {
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-width: 32rem;
  }

  ul {
    list-style: inside square;
  }
}

body.cv {
  main ul, main ol {
    list-style: outside square;
    margin-left: 1rem;
  }

  @media screen and (min-width: $breakpoint-medium) {
    main {
      h1, h2, h3, h4, h5, h6, p, ul, ol { margin: 0; padding: 0; }
      ul, ol { list-style: outside square; }
      display: grid;
      grid-template: auto / 11rem 1fr;
      grid-gap: 2rem 3rem;
    }

    h2 { place-self: start / start; grid-column: 1 / 3; }
    h3 { text-align: right; }
  }
}

a:hover { color: $accent-color; }

.no-overflow { overflow: hidden; }

#lightbox {
  background-color: transparentize($primary-color, .2);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;

  display: grid;
  place-items: center;
  opacity: 1;


  &.hidden {
    visibility: hidden;
    opacity: 0;
  }

  transition: opacity .25s .25s;


  figure {
    display: grid;
    grid-template-rows: 1fr auto;
    justify-items: left;
    background-color: $primary-bg-color;

    figcaption { margin: 0 0.5rem; }
    img { margin: 0.5rem; max-height: 75vh; }
    p {
      margin: 0 auto 0.5rem;
      display: flex;
      flex-direction: column;
      max-width: 100%;
    }
    span:first-of-type { font-weight: bold; }

    @media screen and (min-width: $breakpoint-medium) {
      justify-items: center;
      p { display: block; text-align: center; }
      span:not(:last-of-type):after {
        font-weight: normal;
        content: '  |  ';
        color: $secondary-color;
      }
    }
  }
}
